/*@media all {*/
    *{
        margin: 0;
        padding: 0;
    }
    body {
        background: #222;
       
    }

    #container{
        position: relative;
        margin: 3% auto 0% 0%;
        align-content: center;
        /*border: solid 1px white;*/
        text-align: center;
        color: white;
        font-size: 25pt;
        font-family: Arial, Helvetica, sans-serif;
    }

    #topScore {
        float: left;
        margin:0% 0% 0% 0%;
        padding: 1% 4% 4% 4%;
        border: solid 1px white;
        border-radius: 7px;
        font-size: 25pt;
    }
    #tool-bar{
        margin: 10% 13% 0 0;
        float: right;
        /*border: solid 1px white;*/
    }

    .tool-bar-item{
        font-size: 30pt;
        margin-top: 20%;
    }
    #start{

        margin: 50% auto 0% 25%;
        padding: 25%;
        text-align: center; 
        font-size: 20pt;
        background-image: url('../images/play\ \(2\).png');
        background-repeat: no-repeat;
    }

    #start:hover {
        border-color: rgb(0, 89, 255);
        color: rgb(0, 89, 255);
        background-image: url('../images/next.png');
    }

    #replay{

        margin: 20% auto 0% 25%;
        padding: 25%;
        text-align: center; 
        font-size: 18pt;
        background-image: url('../images/repeat.png');
        background-repeat: no-repeat;
    }

    #replay:hover {
        border-color: rgb(0, 89, 255);
        color: rgb(0, 89, 255);
    }

    .replay {
        text-decoration: none;
        color: white;
    }

    .grid-container {
        margin: 0% 30% 0% auto;
        width: 650px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        /*background-color: #333333;*/
        padding: 0px;
        grid-gap: 20px;
    }

    .even {
        background-color: rgb(133, 92, 64);
        background-image: url('../images/Texture_Walnut.png');
        background-repeat: no-repeat;
    }

    .odd {
        background-color: rgb(255, 217, 174);
        background-image: url('../images/Texture_LighterMaple.png');
        background-repeat: no-repeat;
        
    }

    .grid-item {
        width: 60px;
        height: 60px;
        margin: 0;
        padding: 0;
        border-radius: 3px;
        text-align: center;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.062),
            0 3px 5px 0 rgba(0, 0, 0, 0.19);
    }

    #knight {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background-image: url('../images/horse.png');
        background-repeat: no-repeat;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.062),
            0 10px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .possi {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background-image: url('../images/knightPossi.png');
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.062),
            0 5px 15px 0 rgba(0, 0, 0, 0.19);
    }

    .possi:hover {
        background-color: brown;
    }
    @media screen and (max-width: 480px) {

        #tool-bar {
            width: 100%;
            margin: 0;
        }
        .tool-bar-item {
            display: inline;
            margin: 0%;
        }
        #timer {
            float: left;
            margin: 0;
            margin-top: 3%;
            padding: 0;
            padding-top: 0%;
            margin-left: 35%;
            font-size: 20pt;
        }

        #steps{
            float: right;
            margin: 0;
            margin-right: 25%;
            padding: 0;
            font-size: 20pt;
        }
        #steps img {
            width: 40px;
            height: 40px;
        }

        #start {
           float: left;
           background-size: 40px 40px;
           margin: 0%;
           margin-right: 50%;
           margin-top: 3%;
           padding: 5%;
        }
        
        #replay {
            float: right;
            background-size: 40px 40px;
            margin: 0;
            margin-top: 3%;
            padding: 5%;
            
        }
        
        .grid-container {
            width: 100%;
            padding: 0%;
        }
        .grid-item{
            width: 40px;
            height: 40px;
        }

        #knight {
            width: 40px;
            height: 40px;
            background-size: contain;
        }

        .possi {
            width: 40px;
            height: 40px;
            background-size: contain;
        }

    }

/*}*/
