
    *{
        margin: 0;
        padding: 0;
    }
    body {
        background: #222;

    }

    #header {
        position: relative;
        width: 25%;
        /*top: 3vh;
        left: 25%;*/
        top: 1vh;
        margin: 0 auto;
        margin-left: 40%;
        color: white;
        font-size: 30pt;
        font-family: "Times New Roman", Times, serif;
        text-shadow: 1px 1px 3px rgb(219, 219, 219);

    }

    #container{
        position: relative;
        height: 0vh;
        margin: 0% 0% 0% 0%;
        padding: 0;
        align-content: center;
        text-align: center;
        color: white;
        font-size: 25pt;
        font-family: Arial, Helvetica, sans-serif;
    }
    #settings-bar {
        position: relative;
        top: -80vh;
        right: 27.5em;
        bottom: 100em;
        margin: 0;
        margin-right: 0;
        float: left;
        grid-template-columns: auto;
        width: 250px;
        height: 79vh;
        padding: 0% 0%;
        border-radius: 20px;
        box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.342),
        0 3px 5px 0 rgba(0, 0, 0, 0.308);
    }

    #tool-bar{
        margin: 0% 15% 0 0;
        float: right;
    }

    #tool-bar-frame {
        display: subgrid;
        top: 1vh;
        grid-template-columns: auto;
        width: 250px;
        height: 79vh;
        padding: 20% 0% 0% 0%;
        border-radius: 20px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.342),
        0 1px 5px 0 rgba(0, 0, 0, 0.308);
    }

    .tool-bar-item{
        font-size: 28pt;
    }

    #start{
        display: inline;
        margin: 0% 0% 0% 0%;
        padding: 15%;
        padding-bottom: 0%;
        text-align: center; 
        font-size: 20pt;
        background-image: url('../images/play\ \(2\).png');
        background-size: contain;
        background-repeat: no-repeat;
        border-left: solid 2px rgb(99, 99, 99);
        border-radius: 3px;

    }

    #start:hover {
        background-image: url('../images/next.png');
    }

    #replay{
        display: inline;
        margin: 0% 3% 0% 8%;
        padding: 15%;
        padding-bottom: 0%;
        text-align: center; 
        font-size: 18pt;
        background-image: url('../images/repeat.png');
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100px;
    }

    #replay:hover {
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.062),
        0 3px 5px 0 rgba(0, 0, 0, 0.19);
    }

    .replay {

        text-decoration: none;
        color: white;
    }

    .replay:focus:active {
        outline: 0;
        box-shadow: none;
      }

      #level {
          margin: 15% 0% 10% 0%;
          text-align: center;
          font-size: 20pt;
      }

    #timer {
        display: block;
        float: left;
        width: 250px;
        padding: 3% 0%;
        margin: 10% 0% 10% 0%;
        font-size: 22pt;
        background-color: rgb(42, 42, 47);
        border-radius: 7px;
        text-shadow: 1px 1px 4.5px rgb(201, 201, 201);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.062),
        0 3px 5px 0 rgba(0, 0, 0, 0.19);

        /*background-image: radial-gradient(circle, 
        rgb(60,179,113), rgb(93, 195, 139), rgb(76, 163, 115));
        */
        
    }
    #timer img {
        width: 30px;
        height: 30px;
    }

    #life-container {
        padding: 0;
        margin: 0;
        width: 100%;
        margin-left: 10%;
        
    }

    #life-container img {
        float: left;
        vertical-align: middle;
        margin: 10% 0;
    }

    #life-container div {
        display: inline;
        vertical-align: middle;
    }

    .life-elments {
        width: 65px;
    }

    #steps {
        float: left;
        width: 70%;
        margin: 10% 0% 10% 10%; 
        font-size: 23pt;
        color: rgb(221, 221, 221);
        text-shadow: 1px 1px 3px rgb(201, 201, 201);
    }

    #steps img {
        width: 50px;
        height: 50px;
    }
    #coins {
        width: 100%;
        overflow: hidden;
        float: left;
        margin: 0% 0% 0% 0%;
        padding: 0;
        vertical-align: middle;
        font-size: 23pt;
        overflow-x: auto;
        color: gold;
        text-shadow: 5px 5px 30px gold;
    }
    #coins img {
        width: 100px;
        height: 100px;
        vertical-align: middle;
    }

    .grid-container {
        margin: .5% 0% 0% 24%;
        width: 650px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        /*background-color: #333333;*/
        padding: 1% 1%;
        padding-top: 1.3%;
        grid-gap: 15px;
        background-color: rgb(42, 42, 47);
        border-radius: 15px; 
        box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.342),
        0 3px 5px 0 rgba(0, 0, 0, 0.308);
    }

    .even {
        background-color: rgb(133, 92, 64);
        background-image: url('../images/walnut.png');
        background-repeat: no-repeat;
    }

    .odd {
        background-color: rgb(255, 217, 174);
        background-image: url('../images/maple.png');
        background-repeat: no-repeat;
        
    }

    .grid-item {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        padding: 0;
        border-radius: 7px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.212),
        0 10px 20px 0 rgba(0, 0, 0, 0.623);
    }

    #knight {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background-image: url('../images/horse.png');
        background-repeat: no-repeat;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.062),
            0 10px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .possi {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background-image: url('../images/knightPossi.png');
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.062),
            0 5px 15px 0 rgba(0, 0, 0, 0.19);
    }

    .possi:hover {
        background-color: brown;
    }
